# Azure Custom Vision
CUSTOM_VISION_PREDICTION_ENDPOINT = https://<your-endpoint>/customvision/v3.0/Prediction/<project-id>/classify/iterations/<iteration>/image
CUSTOM_VISION_PREDICTION_KEY = <YOUR_CUSTOM_VISION_KEY>

# OpenAI API
OPENAI_API_KEY = <YOUR_OPENAI_KEY>
OPENAI_API_ENDPOINT = https://<your-azure-openai-resource>.openai.azure.com/
OPENAI_API_VERSION = YOU_OPENAI_VERSION
OPENAI_API_DEPLOYMENT = YOUR_OPENAI_DEPLOYMENT_NAME

# Azure Speech Service
SPEECH_SERVICE_KEY = <YOUR_SPEECH_KEY>
SPEECH_SERVICE_REGION = YOUR_SPEECH_REGION

# Trained Model Path
MODEL_PATH = ../wooftalk/wooftalk_multi_tasks.joblib # Please change it to absolute path

# Knowledge Base Directory
KB_DIR = ../kb # Please change it to absolute path